@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Menu de Navegacion */

header{
    padding: 10px 0px;
    background-color: rgba(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
}

header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    color: rgb(255, 172, 56);
    font-size: 25px;
    font-weight: 600;
}

header>nav>ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2px;
    padding: 0 30px;
}

header>nav>ul>li>a {
    display: flex;
    text-decoration: none;
    padding: 12px 20px;    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    transition: 0.2S;
    -webkit-transition: 0.2S;
    -moz-transition: 0.2S;
    -ms-transition: 0.2S;
    -o-transition: 0.2S;
}


header>nav>ul>li:hover>a {
    background-color: rgb(255, 172, 56);
    color: black;
}

.dropdown {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    width: 132px;
}

.dropdown>li>a {
    display: block;
    padding: 12px 16px;
    background-color: rgba(202, 202, 202, 0.7);
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #444444;
    border-top: 2px solid rgb(160, 160, 160);
}

header>nav>ul>li:hover>.dropdown{
    visibility: visible;
}

.dropdown>li>a:hover {
    background-color: white;
    font-weight: 6  00;
}

/* Navigation toogle */

#nav-toogle, .label-toogle{
    display: none;
}

.nav-button{
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    background: rgb(255, 172, 56);
    padding: 6px 12px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    line-height: 8px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-button span{
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
    -webkit-transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
    -moz-transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
    -ms-transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
    -o-transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
}

#nav-toogle:checked ~ .label-toogle .nav-button span:nth-child(1){
    transform: rotate(45deg) translateY(6px) translateX(6px);
    -webkit-transform: rotate(45deg) translateY(6px) translateX(6px);
    -moz-transform: rotate(45deg) translateY(6px) translateX(6px);
    -ms-transform: rotate(45deg) translateY(6px) translateX(6px);
    -o-transform: rotate(45deg) translateY(6px) translateX(6px);
}
#nav-toogle:checked ~ .label-toogle .nav-button span:nth-child(2){
    width: 0;
}

#nav-toogle:checked ~ .label-toogle .nav-button span:nth-child(3){
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
    -webkit-transform: rotate(-45deg) translateY(-7px) translateX(7px);
    -moz-transform: rotate(-45deg) translateY(-7px) translateX(7px);
    -ms-transform: rotate(-45deg) translateY(-7px) translateX(7px);
    -o-transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

#nav-toogle:checked ~ .topnav
{
    display: block;
}

#nav-toogle:checked ~ .logos{
    color: #0077b5;
}

/* Primer banner */
.bannerprincipal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url(https://cdn.pixabay.com/photo/2015/07/19/10/00/school-work-851328_960_720.jpg), #000000c7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 60vh;
    padding: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    color: #fff;
}

.bannerprincipal p{
    width: 90%;
}

/* Cards Comprender - Memorizar - Focalizar */

.title-section{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 25px;
    text-align: center;

}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding-top: 25px;
}

.card{
    position: relative;
    box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.05), inset -5px -5px 5px rgb(255, 255, 255, 0.5), 5px 5px 5px rgb(0, 0, 0, 0.05), -5px -5px 5px rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 30px;
    height: 440px;
    width: 320px;
}

.card-box{
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.card::before, .card::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 87%;
    height: 91%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: rgb(242, 240, 240);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    z-index: 0;
}

.card:hover::before{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transform: rotate(30deg) translateY(-40px);
    -webkit-transform: rotate(30deg) translateY(-40px);
    -moz-transform: rotate(30deg) translateY(-40px);
    -ms-transform: rotate(30deg) translateY(-40px);
    -o-transform: rotate(30deg) translateY(-40px);
}

.card:hover::after{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transform: rotate(15deg) translateY(-40px);
    -webkit-transform: rotate(15deg) translateY(-40px);
    -moz-transform: rotate(15deg) translateY(-40px);
    -ms-transform: rotate(15deg) translateY(-40px);
    -o-transform: rotate(15deg) translateY(-40px);
}

.card-content{
    padding: 20px;
    text-align: center;
}

.card-number{
    position: absolute;
    top: -10px;
    right: 10px;
    color: rgb(0, 0, 0, 0.1);
    font-size: 4em;
    pointer-events: none;
    font-weight: 700;
}

.card-title{
    background: rgba(0, 0, 0, 0.2);
    padding: 6px;
    font-size: 20px;
    color: rgb(74, 74, 74);
}

.card-content a{
    position: relative;
    display: inline-block;
    margin-top: 15px;
    background-color: gray;
    padding: 8px 20px;
    text-decoration: none;
    color: #ebf5fc;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card:hover .card-number{
    color: rgb(0, 0, 0, 0.3);
}

.card:hover a{
    background-color: rgb(173, 92, 0);
}

.card:hover .card-box{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    background: linear-gradient(0deg,rgb(255, 172, 56),rgb(146, 78, 0));
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    z-index: 1;
}


.card:hover .card-title, .card:hover .card-explained{
    color: rgb(253, 235, 205);
}

/* Secciones con navegador lateral */
#comprender, #memorizar, #focalizar{position: absolute; top: -45px; }

.section-container{
    position: relative;
    background-color: whitesmoke;
    width: 85vw;
    margin: 50px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    padding: 15px 0px;
}

.section-container>h2{
    margin: 10px 25px;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(253, 235, 205);
    background: linear-gradient(270deg,rgb(255, 172, 56),rgb(146, 78, 0));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.section-container .options-checkbox{
    display: flex;
    padding: 10px 25px;
}

.section-container .options-checkbox .options-list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
}

.section-container .options-list label{
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    font-weight: 700;
    height: 60px;
    width: 100%;
    margin: 5px 0;
    padding-left: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
}

.section-container .options-list label:hover{
    background-color: rgb(0, 0, 0, 0.2);
}

.section-container .options-list .indicator{
    position: absolute;
    margin-top: 5px;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: rgb(255, 172, 56);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

#tag1a:checked ~ .options-list .indicator{top: 0;}
#tag2a:checked ~ .options-list .indicator{top: 70px;}
#tag3a:checked ~ .options-list .indicator{top: 140px;}
#tag4a:checked ~ .options-list .indicator{top: 210px;}
#tag5a:checked ~ .options-list .indicator{top: 280px;}
#tag1b:checked ~ .options-list .indicator{top: 0;}
#tag2b:checked ~ .options-list .indicator{top: 70px;}
#tag3b:checked ~ .options-list .indicator{top: 140px;}
#tag4b:checked ~ .options-list .indicator{top: 210px;}
#tag5b:checked ~ .options-list .indicator{top: 280px;}
#tag1c:checked ~ .options-list .indicator{top: 0;}
#tag2c:checked ~ .options-list .indicator{top: 70px;}
#tag3c:checked ~ .options-list .indicator{top: 140px;}
#tag4c:checked ~ .options-list .indicator{top: 210px;}
#tag5c:checked ~ .options-list .indicator{top: 280px;}

.options-text{
    width: 100%;
    padding: 15px 30px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.options-text h3{
    padding-bottom: 5px;
}

.options-checkbox input[type="radio"]{
    display: none;
}

.section-container .options-checkbox .options-text div{
    display: none;
}

.section-container .options-checkbox .options-text .tag1-text{
    display: block;
}

#tag1a:checked ~ .options-text .tag1-text,
#tag2a:checked ~ .options-text .tag2-text,
#tag3a:checked ~ .options-text .tag3-text,
#tag4a:checked ~ .options-text .tag4-text,
#tag5a:checked ~ .options-text .tag5-text,
#tag1b:checked ~ .options-text .tag1-text,
#tag2b:checked ~ .options-text .tag2-text,
#tag3b:checked ~ .options-text .tag3-text,
#tag4b:checked ~ .options-text .tag4-text,
#tag5b:checked ~ .options-text .tag5-text,
#tag1c:checked ~ .options-text .tag1-text,
#tag2c:checked ~ .options-text .tag2-text,
#tag3c:checked ~ .options-text .tag3-text,
#tag4c:checked ~ .options-text .tag4-text,
#tag5c:checked ~ .options-text .tag5-text
{
    display: block;
}

#tag2a:checked ~ .options-text .tag1-text,
#tag3a:checked ~ .options-text .tag1-text,
#tag4a:checked ~ .options-text .tag1-text,
#tag5a:checked ~ .options-text .tag1-text,
#tag2b:checked ~ .options-text .tag1-text,
#tag3b:checked ~ .options-text .tag1-text,
#tag4b:checked ~ .options-text .tag1-text,
#tag5b:checked ~ .options-text .tag1-text,
#tag2c:checked ~ .options-text .tag1-text,
#tag3c:checked ~ .options-text .tag1-text,
#tag4c:checked ~ .options-text .tag1-text,
#tag5c:checked ~ .options-text .tag1-text
{
    display: none;
}

/* Recomendaciones ASIDE */

.slider-container{
    position: relative;
    height: 60vh;
    z-index: 0;
}

.slidershow{
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.5);
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 20%;
    box-sizing: border-box;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.slide>div:first-child{
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 25px;
}

.slide>div>img{
    max-height: 300px;
    width: min-content;
    box-shadow: 2px 2px 4px #444444;
}

.slide>div:last-child{
    padding: 25px;
}

.slide>div>button{
    border: none;
    background: rgb(199, 197, 197);    
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.slide>div>button:hover{
    background-color: rgb(255, 172, 56);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.slide>div>button>a{
    text-decoration: none;
    color: black;
}

/* Slides navigation */

.slides-navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid gray;
    margin: 6px 20px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.bar:hover{
    background-color:  rgb(251, 205, 141);
}

input[name="indicator-slides"]{
    position: absolute;
    visibility: hidden;
}

#slide-recommendation1:checked ~ .s1{
    margin-left: 0;
}
#slide-recommendation2:checked ~ .s1{
    margin-left: -20%;
}
#slide-recommendation3:checked ~ .s1{
    margin-left: -40%;
}

#slide-recommendation1:checked ~ .slides-navigation>:nth-child(1).bar,
#slide-recommendation2:checked ~ .slides-navigation>:nth-child(2).bar,
#slide-recommendation3:checked ~ .slides-navigation>:nth-child(3).bar{
    background-color: rgb(255, 172, 56);
    border-color: rgb(255, 172, 56);
}


/* Formulario de contacto */
.form-container{
    display: flex;
    background-color: white;
    padding: 15px 0;;
}

.form-container>img{
    width: 40%;
    height: auto;
}

.form-container>.formulario{
    background-color: white;
    text-align: center;
    display: flex;
    margin: auto 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.formulario>div>div{
    width: 90%;
    padding: 15px 0 0;
    margin: auto;
}

form{
    padding: 15px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    gap: 2px;
}

form>div{
    width: 100%;
    display: flex;
    gap: 5px;
}

form>div>input{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form>textarea{
    padding: 2px;
    margin: 4px 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form>div>input:focus, textarea:focus{ 
    outline: none;
    border-color: rgb(255, 172, 56);
    box-shadow: 0px 0px 2px 1px rgb(255, 172, 56)
}


form>.submit-btn{
    width: 150px;
    border: 1px solid lightgray;
    color: white;
    background: rgb(151, 150, 150);    
    padding: 9px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

form>.submit-btn:hover{
    background-color:rgb(255, 172, 56);
}

/* Back to top */

html{
    scroll-behavior:smooth;
}

body{
    position: relative;
}

.backtotop{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.backtotop:before{
    content: '';
    display: block;
    height: 101vh;
    pointer-events: none;
}

.backtotoplink {
    position: sticky;
    top: 90vh;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 172, 56);
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.5);
}

.backtotoplink:hover{
    background-color: rgb(146, 78, 0);
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 0;
}

footer>div{
    display: flex;
    justify-content: space-between;
    padding: 6px 48px 6px 0px;
    align-items: center;
}

footer>div>div>a{
    text-decoration: none;
}

footer>div>ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 5px;
}

footer>div>ul>li>a {
    display: flex;
    color: gray;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.mediaicons>li>a>i{
    display: flex;
    color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.mediaicons>li:nth-child(1)>a>i{
    background-color: #4267b2;
}
.mediaicons>li:nth-child(1):hover>a>i{
    color: #4267b2;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(1):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(2)>a>i{
    background-color: #e1306c;
}
.mediaicons>li:nth-child(2):hover>a>i{
    color: #e1306c;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(2):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(3)>a>i{
    background-color: #1da1f2;
}
.mediaicons>li:nth-child(3):hover>a>i{
    color: #1da1f2;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(3):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(4)>a>i{
    background-color: #0077b5;
}
.mediaicons>li:nth-child(4):hover>a>i{
    color: #0077b5;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(4):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(5)>a>i{
    background-color: #EA4335;
}
.mediaicons>li:nth-child(5):hover>a>i{
    color: #EA4335;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(5):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(6)>a>i{
    background-color: #25D366;
}
.mediaicons>li:nth-child(6):hover>a>i{
    color: #25D366;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(6):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.copyright{
    gap: 100px;
}

.copyright>div{
    font-size: 12px;
    color: gray;
}

.copyright>div:last-child{
    text-align: right;
}

/* Responsive TABLET*/

@media screen and (max-width: 1023px) 
{
.label-toogle{
    display: inline-block;
}

.topnav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 66px;
    width: 100%;
    padding: 0;
    background-color: black;
}

.dropdown{
    display: none;
    position: relative;
}
.topnav>li:hover>.dropdown{
    display: flex;
    width: 100%;
}

.slidershow{
    width: 80%;
}

footer>div>ul>li>a>p{
    display: none;
}    
footer>div>ul{
    gap: 20 px;
}   
}

/* Resposive Mobile */
@media screen and (max-width: 767px) 
{

.bannerprincipal{
    height: 50vh;
    padding: 15px;
}

.bannerprincipal p{
    width: 100%;
}

.card{
    margin: 10px;
    height: 440px;
    width: 300px;
}

.card:hover .card-box{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.card:hover::before{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transform: rotate(30deg) translateY(-20px);
    -webkit-transform: rotate(30deg) translateY(-20px);
    -moz-transform: rotate(30deg) translateY(-20px);
    -ms-transform: rotate(30deg) translateY(-20px);
    -o-transform: rotate(30deg) translateY(-20px);
}

.card:hover::after{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transform: rotate(15deg) translateY(-20px);
    -webkit-transform: rotate(15deg) translateY(-20px);
    -moz-transform: rotate(15deg) translateY(-20px);
    -ms-transform: rotate(15deg) translateY(-20px);
    -o-transform: rotate(15deg) translateY(-20px);
}

.section-container{
    padding: 0;
    margin: 5px;
    width: 95vw;
}

.section-container h2{
    margin: 0;
}

.options-list{
    width: 30%;
}

.section-container .options-list label{
    padding: 5px;
}
.section-container .options-checkbox{
padding: 0 0;
}

.options-text{
    margin-left: 0;
    padding: 15px;
}

.options-text>div>h3{
    padding: 0;
}


.slider-container{
    height: 100vh;
}

.slidershow{
    width: 90%;
    height: 600px;
}

.slide{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.slide>div:last-child{
    padding: 0 25px;
    text-align: justify;
}

.slide>div>img{
    padding: 0;
    margin: 0;
    height: 250px;
}

.form-container{
    flex-direction: column;
}
.form-container>img{
    width: auto;
}

.backtotoplink {
    top: 85vh;
}

footer>div{
    flex-direction: column;
    gap: 15px
}

.copyright{
    gap: 0;
}

.copyright>div{
    text-align: center;
}
.copyright>div:last-child{
    text-align: center;
}
}